name: Publish pre-release

on:
  release:
    types: [published]

jobs:
  publish-lib:
    runs-on: ubuntu-latest
    name: Publish OpenAPI Diff Action tool to nuget
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
          ref: ${{ github.ref }}
      - name: Setup nbgv
        uses: dotnet/nbgv@master
      - name: Create the package
        run: dotnet pack --configuration Release /p:PublicRelease=true
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: nupkgs
          path: ./src/LimeFlight.OpenAPI.Diff/nupkg/
      - name: Add GPR Source
        run: dotnet nuget add source https://nuget.pkg.github.com/yaos/index.json --name GPR --username fabich --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text
      - name: Publish the package to GPR
        run: |
          until dotnet nuget push *.nupkg --skip-duplicate --source GPR; do echo "Retrying"; sleep 1; done
        working-directory: ./src/LimeFlight.OpenAPI.Diff/nupkg
      - name: Publish the package to NuGet
        run: dotnet nuget push *.nupkg --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_AUTH_TOKEN_LIB}}
        working-directory: ./src/LimeFlight.OpenAPI.Diff/nupkg
