name: Tests

on: [pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    name: Run pack test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
      - name: Setup .net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.201" # SDK Version to use.
      - name: Setup nbgv
        uses: aarnott/nbgv@v0.3
      - name: Pack
        run: dotnet pack --configuration Release
  xunit-test:
    runs-on: ubuntu-latest
    name: Run xunit tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup .net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.201" # SDK Version to use.
      - name: Test
        run: dotnet test --no-build
